.graphiql-container,
.graphiql-container button,
.graphiql-container input {
  color: #141823;
  font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI',
    Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
  font-size: 14px;
}

.graphiql-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  background-color: #000000;
  box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.32);
}

.graphiql-container .editorWrap {
  border-radius: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.graphiql-container .title em {
  font-family: georgia;
  font-size: 19px;
}

.graphiql-container .topBarWrap {
  display: flex;
  flex-direction: row;
}

.graphiql-container .topBarWrap.overlap {
  align-items: center;
}

.graphiql-container .topBar {
  background: #13161f;
  cursor: default;
  overflow-y: visible;
  user-select: none;
}

.graphiql-container .toolbar {
  overflow-x: visible;
  display: flex;
}

.graphiql-container .docExplorerShow,
.graphiql-container .historyShow {
  color: #b4bac5;
  background-color: #000 !important;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  text-align: right;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 2px 20px 0 18px;
  border: none;
  background: none;
}

.graphiql-container .docExplorerShow .btnInner {
  padding: 6px 14px;
  background-color: #1b1e2a;
  border-radius: 14px;
  margin-right: 6px;
}

.graphiql-container .docExplorerShow .btnInner:before {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  opacity: 0.8;
  content: '';
  display: inline-block;
  height: 6px;
  margin-right: 3px;
  position: relative;
  transform: rotate(45deg);
  width: 6px;
}

.graphiql-container .editorBar {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.graphiql-container .queryWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.graphiql-container .resultWrap {
  border-left: solid 1px rgba(11, 13, 19, 0.8);
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  padding-left: 8px;
}

.graphiql-container .docExplorerWrap,
.graphiql-container .historyPaneWrap {
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 3;
}

.graphiql-container .docExplorerWrap.show {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.64, 0.04, 0.35, 1) 0s;
  left: 0;
  position: relative;
}

.graphiql-container .docExplorerWrap.hide {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}

.graphiql-container .historyPaneWrap {
  min-width: 230px;
  z-index: 5;
}

.graphiql-container .docExplorerResizer {
  cursor: col-resize;
  height: 100%;
  left: -5px;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 10;
}

.graphiql-container .docExplorerHide {
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  padding: 10px;
}

.graphiql-container .docExplorerHide:before {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  opacity: 0.8;
  content: '';
  display: inline-block;
  height: 6px;
  position: relative;
  transform: rotate(-45deg);
  width: 6px;
  right: 6px;
  bottom: 1px;
}

.graphiql-container div .query-editor {
  flex: 1;
  position: relative;
}

.graphiql-container .variable-editor {
  display: flex;
  flex-direction: column;
  height: 30px;
  position: relative;
}

.graphiql-container .variable-editor-title {
  background: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #e0e0e0;
  color: #777;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 14px;
  padding: 6px 0 8px 43px;
  text-transform: lowercase;
  user-select: none;
}

.graphiql-container .codemirrorWrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.graphiql-container .result-window {
  flex: 1;
  height: 100%;
  position: relative;
}

.graphiql-container .footer {
  background: #f6f7f8;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  margin-left: 12px;
  position: relative;
}

.graphiql-container .footer:before {
  background: #eeeeee;
  bottom: 0;
  content: ' ';
  left: -13px;
  position: absolute;
  top: -1px;
  width: 12px;
}

/* No `.graphiql-container` here so themes can overwrite */
.result-window .CodeMirror {
  background: #f6f7f8;
}

.graphiql-container .CodeMirror .CodeMirror-gutter {
  background-color: #000000;
}

.graphiql-container .CodeMirror .CodeMirror-gutter-wrapper {
  left: -80px;
}

.graphiql-container .CodeMirror .CodeMirror-linenumbers {
  width: 60px;
}

.graphiql-container .CodeMirror .CodeMirror-code > div {
  font-family: 'Roboto Mono';
  font-size: 14px;
  line-height: 22px;
}

.graphiql-container .CodeMirror .CodeMirror-linenumber {
  color: #c4c9d2;
  font-family: 'Roboto Mono';
}

.graphiql-container .CodeMirror .CodeMirror-line {
  font-family: 'Roboto Mono';
  font-size: 14px;
  line-height: 22px;
  z-index: 5;
}

.graphiql-container .result-window .CodeMirror-gutters {
  background-color: #eeeeee;
  border-color: #e0e0e0;
  cursor: col-resize;
}

.graphiql-container .result-window .CodeMirror-foldgutter,
.graphiql-container .result-window .CodeMirror-foldgutter-open:after,
.graphiql-container .result-window .CodeMirror-foldgutter-folded:after {
  padding-left: 3px;
}

.graphiql-container .toolbar-button {
  background: #fdfdfd;
  background: linear-gradient(#f9f9f9, #ececec);
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7),
    inset 0 1px #fff;
  color: #555;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  padding: 3px 11px 5px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.graphiql-container .toolbar-button:active {
  background: linear-gradient(#ececec, #d5d5d5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.1),
    inset 0 1px 1px 1px rgba(0, 0, 0, 0.12), inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.graphiql-container .toolbar-button.error {
  background: linear-gradient(#fdf3f3, #e6d6d7);
  color: #b00;
}

.graphiql-container .toolbar-button-group {
  margin: 0 5px;
  white-space: nowrap;
}

.graphiql-container .toolbar-button-group > * {
  margin: 0;
}

.graphiql-container .toolbar-button-group > *:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.graphiql-container .toolbar-button-group > *:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.graphiql-container .execute-button-wrap {
  height: 40px;
  margin: 0 14px 0 28px;
  position: relative;
}

.graphiql-container .execute-button-wrap .copy-button {
  background-color: #1b1e2a;
  border: none;
  border-radius: 24px;
  padding: 4px 16px;
  margin-left: 26px;
  position: relative;
  bottom: 10px;
  cursor: pointer;
}

.graphiql-container .execute-button-wrap .copy-button:focus {
  outline: none;
}

.graphiql-container .execute-button-wrap .copy-text {
  color: #b4bac5;
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.graphiql-container .execute-button {
  display: flex;
  justify-content: center;
  background: linear-gradient(315deg, #5500a0 0%, #8b35ff 100%);
  border: none;
  opacity: 0.8;
  border-radius: 24px;
  cursor: pointer;
  fill: #fff;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
}

.graphiql-container .execute-button svg {
  pointer-events: none;
}

.graphiql-container .execute-button:focus {
  outline: 0;
}

.graphiql-container .toolbar-menu,
.graphiql-container .toolbar-select {
  position: relative;
}

.graphiql-container .execute-options,
.graphiql-container .toolbar-menu-items,
.graphiql-container .toolbar-select-options {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 6px 0;
  position: absolute;
  z-index: 100;
}

.graphiql-container .execute-options {
  min-width: 100px;
  top: 37px;
  left: -1px;
}

.graphiql-container .toolbar-menu-items {
  left: 1px;
  margin-top: -1px;
  min-width: 110%;
  top: 100%;
  visibility: hidden;
}

.graphiql-container .toolbar-menu-items.open {
  visibility: visible;
}

.graphiql-container .toolbar-select-options {
  left: 0;
  min-width: 100%;
  top: -5px;
  visibility: hidden;
}

.graphiql-container .toolbar-select-options.open {
  visibility: visible;
}

.graphiql-container .execute-options > li,
.graphiql-container .toolbar-menu-items > li,
.graphiql-container .toolbar-select-options > li {
  cursor: pointer;
  display: block;
  margin: none;
  max-width: 300px;
  overflow: hidden;
  padding: 2px 20px 4px 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.graphiql-container .execute-options > li.selected,
.graphiql-container .toolbar-menu-items > li.hover,
.graphiql-container .toolbar-menu-items > li:active,
.graphiql-container .toolbar-menu-items > li:hover,
.graphiql-container .toolbar-select-options > li.hover,
.graphiql-container .toolbar-select-options > li:active,
.graphiql-container .toolbar-select-options > li:hover,
.graphiql-container .history-contents > p:hover,
.graphiql-container .history-contents > p:active {
  background: #e10098;
  color: #fff;
}

.graphiql-container .toolbar-select-options > li > svg {
  display: inline;
  fill: #666;
  margin: 0 -6px 0 6px;
  pointer-events: none;
  vertical-align: middle;
}

.graphiql-container .toolbar-select-options > li.hover > svg,
.graphiql-container .toolbar-select-options > li:active > svg,
.graphiql-container .toolbar-select-options > li:hover > svg {
  fill: #fff;
}

.graphiql-container .CodeMirror-scroll {
  overflow-scrolling: touch;
}

.graphiql-container .CodeMirror {
  background-color: #000000 !important;
  color: #141823;
  font-family: 'Consolas', 'Inconsolata', 'Droid Sans Mono', 'Monaco', monospace;
  font-size: 13px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.graphiql-container .CodeMirror-lines {
  padding: 20px 0;
}

.CodeMirror-hint-information .content {
  box-orient: vertical;
  color: #141823;
  display: flex;
  font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI',
    Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
  font-size: 13px;
  line-clamp: 3;
  line-height: 16px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
}

.CodeMirror-hint-information .content p:first-child {
  margin-top: 0;
}

.CodeMirror-hint-information .content p:last-child {
  margin-bottom: 0;
}

.CodeMirror-hint-information .infoType {
  color: #ca9800;
  cursor: pointer;
  display: inline;
  margin-right: 0.5em;
}

.autoInsertedLeaf.cm-property {
  animation-duration: 6s;
  animation-name: insertionFade;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  border-radius: 2px;
  margin: -2px -4px -1px;
  padding: 2px 4px 1px;
}

@keyframes insertionFade {
  from,
  to {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
  }

  15%,
  85% {
    background: #fbffc9;
    border-color: #f0f3c0;
  }
}

div.CodeMirror-lint-tooltip {
  background-color: white;
  border-radius: 2px;
  border: 0;
  color: #141823;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
  font-family: system, -apple-system, 'San Francisco', '.SFNSDisplay-Regular', 'Segoe UI',
    Segoe, 'Segoe WP', 'Helvetica Neue', helvetica, 'Lucida Grande', arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  max-width: 430px;
  opacity: 0;
  padding: 8px 10px;
  transition: opacity 0.15s;
  white-space: pre-wrap;
}

div.CodeMirror-lint-tooltip > * {
  padding-left: 23px;
}

div.CodeMirror-lint-tooltip > * + * {
  margin-top: 12px;
}

/* COLORS */

.graphiql-container .CodeMirror-foldmarker {
  border-radius: 4px;
  background: #08f;
  background: linear-gradient(#43a8ff, #0f83e8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: arial;
  font-size: 12px;
  line-height: 0;
  margin: 0 3px;
  padding: 0px 4px 1px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
}

.graphiql-container div.CodeMirror span.CodeMirror-matchingbracket {
  color: #555;
  text-decoration: underline;
}

.graphiql-container div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #f00;
}

/* Media queries */
@media (max-width: 720px) {
  .graphiql-container .editorWrap .topBarWrap.overlap {
    width: 300px;
    z-index: 2;
    position: relative;
  }
}

@media (max-width: 640px) {
  .graphiql-container .editorWrap .topBar .execute-button-wrap {
    margin: 0 12px;
  }

  .graphiql-container .editorWrap .topBar .copy-button {
    margin-left: 6px;
  }

  .graphiql-container .topBarWrap .docExplorerShow {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .graphiql-container .resultWrap {
    flex: 100%;
  }

  .graphiql-container .docExplorerWrap {
    width: 100%;
  }

  .graphiql-container .resultWrap {
    transition: 'all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1)';
    padding: 0;
  }

  .graphiql-container .CodeMirror .CodeMirror-line {
    background-color: #13161f;
  }

  .graphiql-container .editorWrap .topBar .execute-button-wrap {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .graphiql-container .editorWrap .topBar .execute-button-wrap {
    margin: 0 6px;
  }

  .graphiql-container .editorWrap .topBar .copy-button {
    display: none;
  }

  .graphiql-container .topBarWrap .toolbar {
    display: none;
  }
}

/* Comment */
.cm-comment {
  color: #999;
}

/* Punctuation */
.cm-punctuation {
  color: #555;
}

/* Keyword */
.cm-keyword {
  color: #b11a04;
}

/* OperationName, FragmentName */
.cm-def {
  color: #d2054e;
}

/* FieldName */
.cm-property {
  color: #1f61a0;
}

/* FieldAlias */
.cm-qualifier {
  color: #1c92a9;
}

/* ArgumentName and ObjectFieldName */
.cm-attribute {
  color: #8b2bb9;
}

/* Number */
.cm-number {
  color: #2882f9;
}

/* String */
.cm-string {
  color: #d64292;
}

/* Boolean */
.cm-builtin {
  color: #d47509;
}

/* EnumValue */
.cm-string-2 {
  color: #0b7fc7;
}

/* Variable */
.cm-variable {
  color: #397d13;
}

/* Directive */
.cm-meta {
  color: #b33086;
}

/* Type */
.cm-atom {
  color: #ca9800;
}
