.graphiql-container .doc-explorer {
  background-color: #000;
  border-radius: 0 16px 0 0;
}

.graphiql-container .doc-explorer-title-bar,
.graphiql-container .history-title-bar {
  color: #b4bac5;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  cursor: default;
  display: flex;
  height: 34px;
  line-height: 14px;
  padding: 8px 8px 5px;
  position: relative;
  user-select: none;
}

.graphiql-container .doc-explorer-title-bar {
  justify-content: space-between;
}

.graphiql-container .doc-explorer-title-bar-end {
  justify-content: flex-end;
}

.graphiql-container .doc-explorer-title,
.graphiql-container .history-title {
  flex: 1;
  font-weight: bold;
  overflow-x: hidden;
  padding: 10px 10px 10px 10px;
  text-align: right;
  text-overflow: ellipsis;
  user-select: initial;
  white-space: nowrap;
}

.graphiql-container .doc-explorer-back {
  color: #3b5998;
  cursor: pointer;
  margin: -7px 0 -6px -8px;
  overflow-x: hidden;
  padding: 17px 12px 16px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-explorer-narrow .doc-explorer-back {
  width: 0;
}

.graphiql-container .doc-explorer-back:before {
  border-left: 2px solid #3b5998;
  border-top: 2px solid #3b5998;
  content: '';
  display: inline-block;
  height: 9px;
  margin: 0 3px -1px 0;
  position: relative;
  transform: rotate(-45deg);
  width: 9px;
}

.graphiql-container .doc-explorer-rhs {
  position: relative;
}

.graphiql-container .doc-explorer-contents,
.graphiql-container .history-contents {
  background-color: #000;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 47px;
}

.graphiql-container .doc-explorer-contents {
  min-width: 300px;
}

.graphiql-container .doc-type-description p:first-child,
.graphiql-container .doc-type-description blockquote:first-child {
  margin-top: 0;
  color: #b4bac5;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  padding: 30px 30px;
}

.graphiql-container .doc-explorer-contents a {
  cursor: pointer;
  text-decoration: none;
}

.graphiql-container .doc-value-description > :first-child {
  margin-top: 4px;
}

.graphiql-container .doc-value-description > :last-child {
  margin-bottom: 4px;
}

.graphiql-container .doc-category {
  margin: 20px 0;
  padding-left: 10px;
}

.graphiql-container .doc-category-title {
  color: #fff;
  cursor: default;
  font-family: 'Roboto Mono';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 -15px 10px 10px;
  padding: 10px 0;
  user-select: none;
  position: relative;
  width: fit-content;
  text-transform: capitalize;
}

.graphiql-container .doc-category .doc-category-title {
  margin-left: 0;
}

.graphiql-container .doc-category-title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: linear-gradient(315deg, #5500a0 0%, #8b35ff 100%);
}

.graphiql-container .doc-category-item {
  margin: 12px 0;
  font-family: 'Roboto Mono';
  font-size: 14px;
  line-height: 19px;
  color: #b4bac5;
}

.graphiql-container .doc-category-item > span,
.graphiql-container .doc-category-item > span .type-name {
  color: #bd93f9;
}

.graphiql-container .keyword {
  color: #bd93f9;
  font-family: 'Roboto Mono';
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 19px;
}

.graphiql-container .type-name {
  color: #fbe884;
  font-family: 'Roboto Mono';
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 19px;
}

.graphiql-container .field-name {
  color: #b4bac5;
}

.graphiql-container .field-short-description {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0 !important;
}

.graphiql-container .field-short-description p {
  margin-bottom: 8px;
}

.graphiql-container .enum-value {
  color: #0b7fc7;
}

.graphiql-container .arg-name {
  color: #8b2bb9;
}

.graphiql-container .arg {
  display: block;
  margin-left: 1em;
}

.graphiql-container .arg:first-child:last-child,
.graphiql-container .arg:first-child:nth-last-child(2),
.graphiql-container .arg:first-child:nth-last-child(2) ~ .arg {
  display: inherit;
  margin: inherit;
}

.graphiql-container .arg:first-child:nth-last-child(2):after {
  content: ', ';
}

.graphiql-container .arg-default-value {
  color: #43a047;
}

.graphiql-container .doc-deprecation {
  background: #fffae8;
  box-shadow: inset 0 0 1px #bfb063;
  color: #867f70;
  line-height: 16px;
  margin: 8px -8px;
  max-height: 80px;
  overflow: hidden;
  padding: 8px;
  border-radius: 3px;
}

.graphiql-container .doc-deprecation:before {
  content: 'Deprecated:';
  color: #c79b2e;
  cursor: default;
  display: block;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 5px;
  text-transform: uppercase;
  user-select: none;
}

.graphiql-container .doc-deprecation > :first-child {
  margin-top: 0;
}

.graphiql-container .doc-deprecation > :last-child {
  margin-bottom: 0;
}

.graphiql-container .show-btn {
  -webkit-appearance: initial;
  display: block;
  border-radius: 3px;
  border: solid 1px #ccc;
  text-align: center;
  padding: 8px 12px 10px;
  width: 100%;
  box-sizing: border-box;
  background: #fbfcfc;
  color: #555;
  cursor: pointer;
}

.graphiql-container .search-box {
  display: block;
  font-size: 14px;
  margin: -15px -15px 12px 0;
  position: relative;
}

.graphiql-container .search-box:before {
  content: '\26b2';
  cursor: pointer;
  display: block;
  font-size: 24px;
  position: absolute;
  top: -2px;
  color: #fff;
  right: 30px;
  opacity: 0.5;
  z-index: 5;
  transform: rotate(-45deg);
  user-select: none;
}

.graphiql-container .search-box .search-box-clear {
  background-color: #d0d0d0;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  padding: 1px 5px 2px;
  position: absolute;
  right: 3px;
  top: 8px;
  user-select: none;
}

.graphiql-container .search-box .search-box-clear:hover {
  background-color: #b9b9b9;
}

.graphiql-container .search-box > input {
  background-color: rgba(11, 13, 19, 0.8);
  border: none;
  box-sizing: border-box;
  opacity: 0.5;
  color: #ffffff;
  font-family: EuclidCircular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  outline: none;
  padding: 6px 24px 8px 30px;
  width: 100%;
}

.graphiql-container .error-container {
  font-weight: bold;
  left: 0;
  letter-spacing: 1px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
